<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
</head>
<body>
    <h1>Request Status</h1>
    <p>UserID: {{ request.userid }}</p>
    <p>Charname: {{ request.charname }}</p>
    <p>Status: {{ request.status }}</p>

    {% if request.status == "กำลังส่ง GM แก้ไข" %}
        <p>สถานะ: กำลังส่ง GM แก้ไข</p>
    {% elif request.status == "อยู่ระหว่างแก้ไข กรุณาออกจากเกม" %}
        <p>สถานะ: อยู่ระหว่างแก้ไข กรุณาออกจากเกม</p>
    {% elif request.status == "แก้ไขสำเร็จ" %}
        <p>สถานะ: แก้ไขสำเร็จ</p>
    {% endif %}
</body>
</html>
